[Unit]
Description=wireguard ui
After=syslog.target network-online.target
Wants=network-online.target

[Service]
Type=simple
PIDFile=/run/wireguard-ui.pid
ExecStart=/root/wireguard-ui/wireguard-ui /root/wireguard-ui/
Restart=on-failure
RestartSec=1s

[Install]
WantedBy=multi-user.target