[Unit]
Description=wg stats api
After=syslog.target network-online.target
Wants=network-online.target

[Service]
Type=simple
PIDFile=/run/wg-stats-api.pid
ExecStart=/root/wg-stats/wg-stats /root/wg-stats/
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target